body {
  margin: 0;
}

.tab {
  width: 50%;
  position: fixed;
  text-align: center;
  height: 100%;
}

/* Left */
.tab-left {
  background-color: #8c8cac;
  left: 0;
}

/* Right */
.tab-right {
  background-color: #ac8c8c;
  right: 0;
}

.candidate-name {
  padding: 10px;
  margin: 10px;
  font-size: 24px;
}

.view {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

/* MOBILE */
@media screen and (max-width: 600px) {
  .tab {
    width:60%;
  }
}
